<%- include('../includes/noLoader') %>

<link rel="stylesheet" href="/css/edit-product-details.css">

<div class="Edit-details this">
    <h1>Edit Product Details</h1>

    <!-- Flash messages section -->
    <% if (success_msg) { %>
        <div id="successMessage" style="display: none;"><%= success_msg %></div>
    <% } %>

    <% if (error_msg) { %>
        <div id="errorMessage" style="display: none;"><%= error_msg %></div>
    <% } %>
    
    <form action="/admin/update-product-details/<%= product.product_id %>" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="productId">Product ID:</label>
            <input type="number" id="productId" name="product_id" value="<%= product.product_id %>" min="1" required readonly>
        </div>
    
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required><%= product.description %></textarea>
        </div>
    
        <div class="form-group">
            <label for="video">Upload Video (optional):</label>
            <input type="file" id="video" name="video_url" accept="video/*">
        </div>
    
        <div class="form-group">
            <label for="images">Upload Images (up to 7):</label>
            <input type="file" id="images" name="images" accept="image/*" multiple>
            <p id="imageCount">Selected Images: 0</p>
            <p id="warning"></p>
        </div>
    
        <button type="submit" class="btn">Update Product Details</button>
    </form>
</div>

<script src="/js/updateDetailsAdmin.js"></script>


<%- include('../includes/footer') %>